# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# SQLite
# =========================
*.db
*.sqlite3
*.sqlite

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Next.js
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# SQLite
*.db